@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* Optional: globally apply Cinzel */
body {
  font-family: "Cinzel Decorative", serif;
}
/* src/index.css or a separate HeroSection.css */
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(0px); }
}

.spin-slow {
  animation: spin-slow 20s linear infinite;
}

.float-slow {
  animation: float 6s ease-in-out infinite;
}

.float-slower {
  animation: float 8s ease-in-out infinite;
}

.float-fast {
  animation: float 3s ease-in-out infinite;
}
 @keyframes float-sequence {
          0% {
            bottom: 0;
            left: 0;
          }
          25% {
            bottom: 80%;
            left: 0;
          }
          50% {
            top: 0;
            left: 50%;
          }
          75% {
            top: 0;
            left: 100%;
          }
          100% {
            bottom: 0;
            left: 0;
          }
        }

       @keyframes floating {
  0% {
    top:10rem;
    left:-20rem;
    opacity:1
  }
  20% {
    opacity:1
  }
  90% {
    opacity:1
  }
  to {
    top:20rem;
    left:100rem
  }
}

.animate-floating {
  animation: floating 10s linear 60s infinite;;
}


        .animate-floating-path {
          animation: floating-path 10s linear infinite;
        }

        @keyframes spin-slow {
          from { transform: rotate(0deg); }
          to { transform: rotate(360deg); }
        }

        .animate-spin-slow {
          animation: spin-slow 20s linear infinite;
        }
        @keyframes hero-float {
    50% {
      transform: translateY(10px) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scale(1);
      opacity: 1;
    }
  }

  .hero-animate {
      animation: hero-float 10s ease-in-out infinite alternate;
  }

  .custom-frame {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.custom-frame::before {
  content: "";
  position: absolute;
  left: -0.03rem;
  right: -0.03rem;
  top: -0.03rem;
  bottom: -0.03rem;
  pointer-events: none;
  z-index: 1;

  border: 1rem solid transparent;
  border-image-source: url('src/assets/images/frame.png');
  border-image-slice: 20 20 fill;
  border-image-repeat: stretch;
  border-image-outset: 0;
  border-image-width: 1;

filter: brightness(0) saturate(100%) invert(73%) sepia(28%) saturate(2428%) hue-rotate(13deg) brightness(105%) contrast(92%);
}

.custom-frame::after {
  content: "";
  position: absolute;
  top: -150%;
  left: -50%;
  width: 50%;
  height: 400%;
  pointer-events: none;
  z-index: 2;



  transform: translateX(-150%) rotate(25deg);
  opacity: 0;
}

/* HOVER ANIMATION */
.custom-frame:hover::after,.custom-frame:hover::before {
  opacity: 1;
  filter: brightness(100%);
  transition: filter 0.8s ease-in-out, opacity 0ms ease-in-out;

}
